::ng-deep .mat-form-field{
      width:100%;
      font-size: 15;
    }
::ng-deep .mb-3{
  margin-bottom: 0rem !important;
}

button {
  float : right;
}


input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

body {
  background: #134E5E;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@media (min-width: 768px) {
  .col-md-6 {
    max-width: none;
  }
}

.card-body {
  background: none;
  border : none;
}

.card {
  margin-bottom: 0;
}
