.container-fluid{
    display: flex;
    flex-direction: column;
}

.container-flex{
  display : flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');*/
  background-size: cover;
}
