<body class="app flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <form class="card-body p-4" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
            <h1>Register</h1>
            <p class="text-muted">Create your account</p>


                        <div class="input-group mb-3">
                          <mat-form-field>
                            <mat-select name="id_dinas" placeholder="Dinas" [ngModel]="user?.id_dinas" (ngModelChange)="user?user.id_dinas:undefined" required>
                              <mat-option *ngFor="let x of dinas" [value]="x.id_dinas">
                                {{ x.nama_dinas }}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>


            <div class="input-group mb-3">
              <mat-form-field>
                 <input matInput name="nama_admin" placeholder="Nama Admin" required  [ngModel]="user?.nama_admin" (ngModelChange)="user?user.nama_admin:undefined">
               <mat-error *ngIf="namaAdminFormControl.hasError('required')">
                 Nama Admin is required
               </mat-error>
               </mat-form-field>
            </div>

            <div class="input-group mb-3">
              <mat-form-field appearance="outline">
                <input matInput name="username" placeholder="Enter your Username" required [ngModel]="user?.username" (ngModelChange)="user?user.username:undefined">
              <mat-error *ngIf="usernameFormControl.hasError('required')">
                Username is required
              </mat-error>
              </mat-form-field>
            </div>

            <div class="input-group mb-4">
              <mat-form-field>
                <input matInput name="password" placeholder="Enter your password" required type="Password" [ngModel]="user?.password" (ngModelChange)="user?user.password:undefined">
              <mat-error *ngIf="passwordFormControl.hasError('required')">
                Password is required
              </mat-error>
            </mat-form-field>
            </div>


                                    <div class="input-group mb-3">
                                      <mat-form-field>
                                        <mat-select name="status_akun" placeholder="Status Akun" [ngModel]="user?.status_akun" (ngModelChange)="user?user.status_akun:undefined" required>
                                          <mat-option value="Super Admin">Super Admin</mat-option>
                                          <mat-option value="Admin">Admin</mat-option>
                                        </mat-select>
                                      </mat-form-field>
                                    </div>

           <button mat-button>Create Account</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
