.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  position: fixed;
  padding: 20px;
}

.container-fluid {
  margin-top: 20px;
}

.below {
  text-align: center;
}

.sung{
  line-height: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-width: 100%;
  text-align: left;
}

.logo{
  margin-bottom: 20px;
}

.container-side-bar{
  display: flex;
  flex-direction: column;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.sidebar-toggler{
  margin-left: 5px;
}

.navbar{
background: #AAFFA9;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left,#09f2b1, #11FFBD, );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #09f2b1, #11FFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mat-fab, .mat-mini-fab, .mat-raised-button {
background: #2f353a;  /* fallback for old browsers */
color: #fff;
 }
 
.drawer {
  background: #2f353a;  /* fallback for old browsers */
  color: #fff;
}
