
<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
    <div class="container-fluid">


                <mat-form-field><input matInput placeholder="NIP/NUPTK" formControlName="nip"></mat-form-field>
                <mat-form-field><input matInput placeholder="Nama" formControlName="nama"></mat-form-field>
                <mat-form-field><input matInput placeholder="Tempat Lahir" formControlName="tempat_lahir"></mat-form-field>

                <mat-form-field>
                <input matInput formControlName="tanggal_lahir" [matDatepicker]="picker3" placeholder="Tanggal Lahir" >
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>

                <span class="small text-muted"> Jenis Kelamin </span>
                <mat-radio-group formControlName="jenis_kelamin">
                  <mat-radio-button value="Laki-Laki">Laki-Laki</mat-radio-button>
                  <mat-radio-button value="Perempuan">Perempuan</mat-radio-button>
                </mat-radio-group>

                <mat-form-field >
                  <mat-select formControlName="id_lembaga" placeholder="Lembaga Tempat Bertugas" >
                    <mat-option *ngFor="let x of lembaga" [value]="x.id_lembaga" >
                      {{ x.nama_lembaga }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field><input matInput placeholder="Alamat" formControlName="alamat"></mat-form-field>

                <mat-form-field>
                  <mat-select formControlName="pendidikan_terakhir" placeholder="Pendidikan Terakhir" required>
                    <mat-option value="SD">SD</mat-option>
                    <mat-option value="SMP">SMP</mat-option>
                    <mat-option value="SMA">SMA</mat-option>
                    <mat-option value="D1">D1</mat-option>
                    <mat-option value="D2">D2</mat-option>
                    <mat-option value="D3">D3</mat-option>
                    <mat-option value="D4">D4</mat-option>
                    <mat-option value="S1">S1</mat-option>
                    <mat-option value="S2">S2</mat-option>
                    <mat-option value="S3">S3</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field><input matInput placeholder="Tahun Lulus" formControlName="tahun_lulus"></mat-form-field>


                                <mat-form-field>
                                  <mat-select formControlName="status_pendidik" placeholder="Status Pendidik" required>
                                    <mat-option value="Guru">Guru</mat-option>
                                    <mat-option value="Guru Pendamping">Guru Pendamping</mat-option>
                                    <mat-option value="Guru Pengasuh">Guru Pengasuh</mat-option>
                                    <mat-option *ngIf="name=='LKP'" value="Tutor">Tutor</mat-option>
                                  </mat-select>
                                </mat-form-field>

                                <span class="small text-muted"> Sertfikat Pelatihan </span>
                                <mat-radio-group formControlName="sertifikat_pelatihan">
                                  <mat-radio-button value="Ada">Ada</mat-radio-button>
                                  <mat-radio-button value="Tidak Ada">Tidak Ada</mat-radio-button>
                                </mat-radio-group>


<mat-form-field>
<mat-select formControlName="status_diklat" placeholder="Status Diklat" required>
<mat-option value="Diklat Dasar">Diklat Dasar</mat-option>
<mat-option value="Diklat Mahir">Diklat Mahir</mat-option>
<mat-option value="Diklat Lanjutan">Diklat Lanjutan</mat-option>
<mat-option value="Belum Diklat">Belum Diklat</mat-option>
</mat-select>
</mat-form-field>

    </div>
</mat-dialog-content>

<div class="container-flex">
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!form.valid">Save</button>
</mat-dialog-actions>
</div>
