




<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
    <div class="container-fluid">


        <mat-form-field><input matInput placeholder="Nama Dinas" formControlName="nama_dinas"></mat-form-field>
        <mat-form-field><input matInput placeholder="Alamat Kantor" formControlName="alamat_kantor"></mat-form-field>

            <mat-form-field>
              <mat-select placeholder="Kabupaten" formControlName="kabupaten" required>
                <mat-option value="Banjarmasin">Banjarmasin</mat-option>
                <mat-option value="Banjarbaru">Banjarbaru</mat-option>
              </mat-select>
            </mat-form-field>

        <input style="display: none" type="file" class="form-control" name="file" ng2FileSelect [uploader]="uploader" #fileInput/>
        <mat-form-field><input matInput placeholder="Email" formControlName="email" type="email"></mat-form-field>
        <mat-form-field><input type="tel" matInput placeholder="Telp./Fax" formControlName="telp_fax"></mat-form-field>
        <div class="container-flex">
        <button mat-button (click)="fileInput.click()" [disabled]="!form.valid">Pilih</button>
        <button mat-button (click)="uploader.uploadAll(); field = true" [disabled]="!uploader.getNotUploadedItems().length">Upload</button>
        </div>
<!--
        <button mat-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
         Upload all
        </button> -->





    </div>
</mat-dialog-content>

<div class="container-flex">
<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()" [disabled]="!form.valid || !field" >Save</button>
</mat-dialog-actions>
</div>
